/* ipad, Laptop, Desktop, Large-Screen */
@media only screen and (min-width: 769px){
  .box{
    display: none;
  }
}
/* Ipad, Smartphones */
@media (max-width: 768px){
  .header{
    height: auto;
    text-align: center;
    display: flow-root;
  }
 .header .logo{
    height: auto;
    width: 100%;
  } 
  .header img{
    height: 100%;
    width: 22vh;
  }
  .header_desc{
    margin-top: -20px;
  }
  .box p{
    margin-top: -5px;
    font-size: 3.5vw;
  }
  .art_img{
    width: 100%;
    height: 16vw;
  }
  .leftcolumn{
    display: none;
  }
  .art_work h3{
    font-size: 4.2vw;
  }
  .art_work p{
    font-size: 2.25vw;
  }
}
/* smartphones */
@media (max-width: 480px){
  body{
    width: 90%;
    margin: 0 auto;
  }
  .box{
    display: flow-root;
  }
  .box p{
    margin-top: -5px;
    font-size: 4.75vw;
  }
  .article > h2{
    font-size: 5.5vw;
  }
  .art_work{
    display: flow-root;
  }
  .art_img{
    height: 30vw;
  }
  .art_work h3{
    font-size: 5.2vw;
  }
  .art_work p{
    font-size: 3.25vw;
  }
}
/* small smartphones */
@media (max-width: 320px){
  .box p{
    margin-top: -5px;
    font-size: 5.5vw;
  }
  .article > h2{
    font-size: 8.5vw;
  }
  .art_work h3{
    font-size: 7.2vw;
  }
  .art_work p{
    font-size: 5.25vw;
  }
}